<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management Dashboard</title>
    <link rel="stylesheet" href="../public/css/styles.css"> <!-- Link to your CSS file -->
</head>
<body>
    <header>
        <h1>Management Dashboard</h1>
    </header>

    <nav>
        <ul>
            <li><a href="branch.html">Gestión de Sucursales</a></li>
            <li><a href="returns.html">Gestión de devoluciones</a></li>
            <li><a href="products.html">Crear productos</a></li>
            <li><a href="clients.html">Crear clientes</a></li>
        </ul>
    </nav>
</body>
</html>